# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyQt build files
*.ui.py
*.qrc
*.pyc
*.pyo
*.pyd

# VSCode
.vscode/

# Environment
.env
*.env

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
desktop.ini

# Virtual Environments
venv/
env/
ENV/
